<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="shortcut icon" href="./img/weather.png" type="image/x-icon">
</head>
<body>
    <div class="main-content">
         {{>header}}

        <img src="./img/Abhishek-01.jpg" alt="Abhishek.png">
        <p class="about-para">This site use Dark Sky API and Mapbox to fetch weather forecast and location respectively</p>
    </div>
   
    {{>footer}}
</body>
</html>